html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: rgb(220,180,255);
  background: linear-gradient(45deg, rgba(220,180,255,1) 0%, rgba(255,255,255,1) 47%);
}

.header-container{
  display: flex;
  align-items: center;
  height: 5rem;
}

.nav-logo img{
  height: 9rem;
  margin-left: 3rem;
}

.general-container{
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 34rem;
}

.content-container{
  height: 20rem;
  width: 28rem;
}

.content-container h1{
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.content-container p{
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 3rem;
  max-width: 95%;
  font-size: 1rem;
}

.criar{
  margin-left: 4%;
  text-decoration: none;
  color: white;
  background-color: blueviolet;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: .6rem;
  transition: .3s;
}

.criar:hover{
  background-color: rgb(169, 83, 250);
}

.login{
  text-decoration: none;
  font-weight: bold;
  color: blueviolet;
  transition: .3s;
}

.login:hover{
  color: rgb(169, 83, 250);
}

.home-img{
  height: 25rem;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 3rem;
  height: 4rem;
  background-color: white;
}

.f-container-1{
  display: flex;
  align-items: center;
  height: 100%;
}
.f-container-1 img{
  height: 2rem;
}

.f-container-1 p{
  margin-top: .6rem;
  margin-left: .5rem;
  
  font-size: 1rem;
}

.f-container-2{
  display: flex;
  align-items: center;
  height: 100%;
}

.f-container-2 a{
  color: black;
  margin-right: 1.5rem;
  text-decoration: none;
  transition: .3s;
}

.f-container-2 a:hover{
  color: rgb(188, 188, 188);
}





@media (max-width : 768px) {
  html{
    font-size: 50%;
  }

  body{
    background: rgb(220,180,255);
    height: 100vh;
  }

  .header-container{
    justify-content: center;
    height: 35rem;
  }
  
  .nav-logo img{
    height: 35rem;
  }

  .general-container{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  
    height: 100%;
    width: 100%;
  }

  .content-container{
    height: 20rem;
    width: 90%;
  }
  
  .content-container h1{
    font-size: 8rem;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 10rem;
  }
  
  .content-container p{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 12rem;
    max-width: 100%;
    font-size: 5rem;
  }
  
  .criar{
    border-radius: 2.5rem;
    font-size: 5rem;
    padding: 2rem;
    margin-left: 27%;
  }
  
  .home-img{
    margin-top: 95rem;
    height: 40rem;
  }

  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  
    margin-top: 3rem;
    height: 50rem;
    background-color: white;
  }
  
  .f-container-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .f-container-1 img{
    height: 10rem;
    margin-top: 4rem;
  }
  
  .f-container-1 p{
    margin-top: .6rem;
    margin-left: .5rem;
    
    font-size: 3rem;
  }
  
  .f-container-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 5rem;
  }
  
  .f-container-2 a{
    color: black;
    margin-right: 1.5rem;
    text-decoration: none;
    transition: .3s;
    font-size: 5rem;
  }
}


@media (max-width : 480px) {
  html{
    font-size: 30%;
  }

  body{
    background: rgb(220,180,255);
    height: 100vh;
  }

  .header-container{
    justify-content: center;
    height: 35rem;
  }
  
  .nav-logo img{
    height: 35rem;
  }

  .general-container{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  
    height: 100%;
    width: 100%;
  }

  .content-container{
    height: fit-content;
    margin-top: -10rem;
    width: 90%;
  }
  
  .content-container h1{
    font-size: 8rem;
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .content-container p{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 12rem;
    max-width: 100%;
    font-size: 5rem;
  }
  
  .criar{
    border-radius: 2.5rem;
    font-size: 5rem;
    padding: 2rem;
    margin-left: 29%;
  }
  
  .home-img{
    margin-top: 1rem;
    height: 40rem;
  }

  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  
    margin-top: 3rem;
    height: 50rem;
    background-color: white;
  }
  
  .f-container-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .f-container-1 img{
    height: 10rem;
    margin-top: 4rem;
  }
  
  .f-container-1 p{
    margin-top: .6rem;
    margin-left: .5rem;
    
    font-size: 3rem;
  }
  
  .f-container-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 5rem;
  }
  
  .f-container-2 a{
    color: black;
    margin-right: 1.5rem;
    text-decoration: none;
    transition: .3s;
    font-size: 5rem;
  }

}